<h2 class="form-signin-heading">Edit</h2>

<form novalidate [formGroup]="form" (ngSubmit)="update(form)">
  <div class="container-fluid">
    First Name: <input type="text" formControlName="firstName" class="form-control"><br />
    Last Name: <input type="text" formControlName="lastName" class="form-control"><br />
    Birthday: <input type="date" formControlName="birthday" class="form-control"><br />
    Picture link: <input type="text" formControlName="pictureUrl" class="form-control"><br />
    Gender: <select formControlName="gender" class="form-control">
      <option ngValue="male">Male</option>
      <option ngValue="female">Female</option>
     </select><br />
    Location: <select formControlName="location" class="form-control">
      <option ngValue="Kyiv">Kyiv</option>
      <option ngValue="Lviv">Lviv</option>
      <option ngValue="Rivne">Rivne</option>
    </select><br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </div>
</form>

