<p *ngIf="!pplList"><em>Loading...</em></p>
<table class='table' *ngIf="pplList">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Location</th>
      <th>Age</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ppl of pplList">
      <td>{{ ppl.firstName }}</td>
      <td>{{ ppl.gender }}</td>
      <td>{{ ppl.location }}</td>
      <td>{{ ppl.age }}</td>
      <td><img src="{{ppl.pictureUrl}}" width="100" height="100" /></td>
      <td>
        <a [routerLink]="['/person', ppl.id]" class="btn btn-sm btn-primary">Details</a>
      </td>
    </tr>
  </tbody>
</table>

